body {
  font: 300 16px/1.42 'Open Sans', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: #FFFFFF;
  background: #17191C;
}

*{
  box-sizing: border-box;
}

 h1, h2, h3, h4, h5 {
   margin: 0;
   font-weight: normal;
 }
a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1 {
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;  
}

h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  text-transform: uppercase;

  color: #FFFFFF;
}

h3 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 1px;
  line-height: 44px;

  color: #000000;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}


p.products__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #666666;
}

p.feature__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  display: flex;
  align-items: center;

  color: #666666;
}

.container {
  margin: 0 auto;
  width: 1142px;
}

.main-page-wrapper {
background: url(./img/top-pic.png) center top no-repeat, url(./img/bottom-pic.png) center bottom no-repeat;
}

.header {
  height: 120px;
  position: relative;
  margin-bottom: 101px;
}

.logo {
  display: block;
  position: absolute;
  top: 13px;
  left: 0px;
}

.menu {
  position: absolute;
}

.header .menu {
  top: 31px;
  left: 439px;
}

.contacts {
  position: absolute;
  top: 20px;
  right: 0;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #FF3D00;
}

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__workhours {
  font-size: 13px;
  top: 20px;
  text-decoration: underline;
  color: #FF3D00;
  padding: 0px 3px;
}

.contacts__callprice {
color: #9a9a9a;
font-size: 11px;
position: absolute; 
}

.greetings {
  width: 780px;
  margin-left: auto;
  margin-right: auto; 
}

.greetings__title {
  margin-bottom: 18px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

.greetings__subtitle {
  font-size: 18px;
  margin-bottom: 38px;
  text-align: center;
  align-items: center;
}

.button {
  background: #FF3D00;
  font-size: 14px;
  border-radius: 35px;
  padding: 18px 54px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.greetings__button--wrapper {
  margin-bottom: 233px;
  text-align: center;
}

section.products {
  margin-bottom: 186px;
}

.products__item {
  min-height: 470px;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-right: 23px;
  width: 362px;
}

.products__item:last-child {
  margin-right: 0;
}

.products__content {
 /* padding: 53px 30px; */
  padding: 40px 30px 20px 22px 
}

.products__header {
  min-height: 76px;
  margin-bottom: 30px;
  position: relative;
}

.products__img {
  position: absolute;
  left: 29px;
  top: 36px; 
}

.products__feature {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 102px;
  margin-right: 76px;
  margin-bottom: -4px;
}

.products__feature-due-date {
 width: 123px;
}

.products__feature:last-child {
  margin-right: 0;
}

.products__text {
  margin-bottom: 29px;
}

.button--light {
  background: #FFFFFF;
  border: 2px solid #FF5500;
  border-radius: 35px;
  padding: 15px 54px;
  font-weight: bold;
  color: #FF5500;
  text-transform: uppercase;
  text-decoration: none;
}

.button--light:hover {
  background: #FF3D00;
  color: #FFFFFF;
}

section.news {
  margin-bottom: 145px;
}

.news__title {
margin-bottom: 51px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 23px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 31px 7px;
  min-height: 120px;
}

.news__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.news__text {
  margin-top: 4px;
}

.news__header {
  padding-top: 12px;
}

.pager {
  text-align: center;
  margin-top: 53px;
}

.pager__display,.pager__list {
  display: inline-block;
  vertical-align: middle;
}

.pager__display {
  margin-right: 15px;
}

.pager__item {
  display: inline-block;
  vertical-align: middle;
}

.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.pager__item--active .pager__link {
  background: #FF5500;
}

section.about {
  margin-bottom: 52px;
}

div.about:before, .about__desc {
  display: inline-block;
  vertical-align: top;
}

div.about::before {
  content: "";
  width: 490px;
  height: 505px;
  background: url("./img/cameraman.png") center center / cover no-repeat;
}

.about__desc {
  background: #fff;
  border-radius: 5px;
  padding: 70px 80px 67px;
  width: 785px;
  margin-top: -408px;
  margin-left: 354px;
}

.title--dark {
  color: #000000;

}

.about__title {
  padding-bottom: 24px;
}

.about__text {
  color: #000000;
  margin-bottom: 164px;
  line-height: 27px;
  margin-bottom: 39px;
  padding-right: 123px;
}

.about--button {
  padding: 18px 41px;
}

.footer {
  height: 90px;
  position: relative;
  padding-top: 20px;
}

.footer__content {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  
}

.footer .logo {
  top: 43px;
}

.footer .menu {
  top: 57px;
  left: 327px;
}

.socials {
  top: 53px;
  right: 265px;
  position: absolute;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 35px;
}

.socials__item--icon--telegram .socials__link {
  background-image: url(./img/telegram.png);
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url(./img/telegram-hover.png);
}

.socials__item--icon--vk .socials__link {
  background-image: url(./img/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url(./img/vk-hover.png);
}

.socials__item--icon--fb .socials__link {
  background-image: url(./img/facebook.png);
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url(./img/facebook-hover.png);
}

.socials__item--icon--insta .socials__link {
  background-image: url(./img/instagram.png);
}

.socials__item--icon--insta .socials__link:hover {
  background-image: url(./img/instagram-hover.png);
}

.footer .contacts {
top: 65px;
}

.contacts__callprice {
  top: -18px;
  right: 0;
}