.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 7px;
}

.dropdown:hover .contacts__workhours {
  color: #FF3D00; 
}

.dropdown:hover .dropdown__menu {
  /* display: flex; */
  /* animation: drop 0.15s; */
  right: 0;
  left: auto;
  opacity: 80%;
}

/* @keyframes drop {
  from {
   opacity: 0%; 
  }

  to {
    opacity: 80%;
  }
} */


.dropdown__menu {
  position: absolute;
  background: #cdd1d2;
  opacity: 0.8;
  border-radius: 5px;
  padding: 15px, 19px;
  width: 160px;
  min-height: 65px;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* right: 0; */
  left: -9999px;
  /* display: none; */
  opacity: 0%;
}

.dropdown__menu::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  /* width: 0;
  height: 0; */
  border-bottom-color: #cdd1d2;
  border-top-width: 0;
  border-right-width: 12px;
  border-left-width: 12px;  
  top: -10px;
  right: 39px;
}

.dropdown__item {
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  color: #1E1F20;
  text-align: left;
}

.dropdown__item b {
  font-weight: 700;
}
