.partners {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 29px;
  justify-content: space-between;
}

.partners__item {
  margin-left: 105px;
  margin-bottom: 67px;
  width: 206px;
  height: 70px;  
}

.partners__item:nth-child(4n+1) {
  margin-left: 0px;
}


.partners__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  filter: grayscale(100%);
  transition-duration: 0.15s;
}

.partners__item:nth-child(4n+1) .partners__link {
  justify-content:left;
} 

.partners__link:hover {
 filter: grayscale(0%);
 transition-duration: 0.15s;
}
